# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


# Qt generated
*.pro
moc_*
Makefile

# Doxygen generated
config.txt
html/*
latex/*

# Project specific executables
game_gauderma

# OS temporary files
*~
